{{> head }}

{{> navbars }}

<div class='row'>
    <div class='col-8'>
        <h1>Capitan America</h1>
        
        <p> lorem ipsum dolor...</p> 
        
    </div>
    
    
    <div class='col-4'>
        <img src='assets/img/capitanAmerica.jpg' class='img-thumbnail'>
    </div>
    
    
    
</div>


{{> footer }}
